.background {
  viewport-fill: black;
}

.healthText {
  fill: fb-white;
  font-size: 30;
  font-family: Fabrikat-Bold;
  text-anchor: start;
  text-length: 20;
}

.weatherText {
  fill: fb-white;
  font-size: 20;
  font-family: Fabrikat-Bold;
/* font-family: Colfax-Black; */
}

.weatherIcon {
  fill: white;
}

.dateText {
  fill: fb-white;
}

.hourhand {
  fill: fb-red;
}

.minutehand {
  fill: #cccccc;
  opacity: 1;
}

.secondhand {
  fill: fb-blue;
}

.stats {
  x: 5%;
  y: 80%;
  width: 260;
  height: 48;
  text-anchor: left;
}

.stats text {
  font-family: Fabrikat-Bold;
  font-size: 30;
  text-length: 16;
  fill: fb-white;
}

#iconHRM {
  width: 24;
  height: 24;
  x: 80%-28;
  y: 0;
  fill: #FF214A;
}

#txtHRM {
  x: 80%;
  y: 0;  
}

.stat-left {
  x: 31;
}

.stat-right {
  x: 100%;
  width: 100%;
  text-anchor: end;
}

.stat-center {
  x: 50%;
  width: 100%;
  text-anchor: middle;
}

#stats-cycle {
  x: 10%;
  y: 0;
  width: 68%;
  height: 100%;
}

.cycle-item image {
  x: 50%;
  y: 15;
  fill: fb-lavender;
  width: 24;
  height: 24;
}
